:root {
  --dark-blue: #14213d;
  --lighter-blue: #457b9d;
  --cyan: #a8dadc;
  --lightest-color: #eff1ef;
  --vibrant-yellow: #fca311;
  --wine: #9a031e;

  --bebas-font: Bebas Neue, sans-serif;
  --poppins-font: poppins, sans-serif;
  --orbitron-font: Orbitron, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins-font);
  background-color: #eff1ef;
}

/* section 1 */
.section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(files/hero.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  top: 2.1rem;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.total-hero-container {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  color: white;
}

.total-hero-container .h1-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-hero-container h1 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  animation: slideFromRight 0.8s ease-out forwards;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.total-hero-container p {
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  animation: slideFromLeft 0.8s ease-out forwards;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.button-container {
  margin-top: 2rem;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button {
  background-color: transparent;
  color: var(--vibrant-yellow);
  border: 2px solid var(--vibrant-yellow);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  margin-top: 20px;
  font-family: var(--poppins-font);
  font-size: 0.8rem;
  transition: color 0.15s, background-color 0.15s ease-in-out;
}

.fa-globe {
  margin-right: 0.5rem;
}

.fa-chevron-right {
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  animation: floatAnimation 1.5s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(4px);
  }
  100% {
    transform: translatex(0);
  }
}

.button:hover {
  background-color: var(--vibrant-yellow);
  color: black;
}

/* section 2 */
.section-2 {
  padding-top: 5rem;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  line-height: 1.2;
}

.section-2 h2,
.section-3 h2,
.section-4 h2,
.section-6 h2 {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--dark-blue);
  font-family: var(--bebas-font);
}

.section-2 p,
.section-3 p {
  font-size: 1rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin-top: 2rem;
}

.grid .research-areas {
  background-color: #a8dadc61;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.14s ease, transform 0.14s ease,
    background-color 0.14s ease;
}

.grid .research-areas .img-container {
  overflow: hidden;
  width: 100%;
  height: 15rem;
}

.grid .research-areas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.research-text-container {
  padding: 0.3rem 1rem 1rem 1rem;
}

.research-text-container h3,
.research-text-container p {
  text-align: left;
}

.grid .research-text-container h3 {
  font-size: 1.2rem;
  font-family: var(--bebas-font);
  color: var(--dark-blue);
  letter-spacing: 1px;
}

.grid .research-text-container p {
  font-size: 0.9rem;
}

.research-areas:hover {
  background-color: var(--cyan);
  transform: scale(1.02);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.research-areas:hover .img {
  transform: scale(1.3);
}

/* section 3 */
.section-3 {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  line-height: 1.2;
}

.facilities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.facilities-grid .facilities {
  border-radius: 0.5rem;
  overflow: hidden;
}

.facilities-grid .facilities .img-container {
  overflow: hidden;
  width: 100%;
  height: 15rem;
}

.facilities-grid .facilities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facilities-grid .facilities-text-container {
  padding: 0.3rem 1rem 1rem 0;
}

.facilities-grid .facilities-text-container h3,
.facilities-text-container p {
  text-align: left;
}

.facilities-grid .facilities-text-container h3 {
  font-size: 1.2rem;
  font-family: var(--bebas-font);
  color: var(--dark-blue);
  letter-spacing: 1px;
}

.facilities-grid .facilities-text-container p {
  font-size: 0.9rem;
  coor: var(--wine);
  color: black;
}

.line-break {
  display: none;
}

.section-4 {
  padding-top: 2.5rem;
  margin: auto;
  max-width: 1000px;
  width: 90%;
  border-top: 2px solid #9a031e;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 2.5rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  font-size: 0.7rem;
  gap: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.categories span {
  font-weight: 600;
}

.categories p {
  border: 1px solid #14213d;
  padding: 0.4rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.categories p:hover {
  background-color: var(--dark-blue);
  color: white;
}

.featured-posts {
  text-align: left;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 17.6rem;
  color: black;
}

.blog-post-grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
}

.blog-post-grid .big-grid-container,
.blog-post-grid .small-grid-container {
  position: relative;
}

.blog-post-grid .big-grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 1s ease;
  vertical-align: middle;
}

.blog-post-grid .big-grid-container:hover .img {
  transform: scale(1.2);
}

.blog-post-grid .small-grid-container img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  transition: transform 1s ease;
  vertical-align: middle;
}

.small-grid-container img:hover {
  transform: scale(1.2);
}

.small-constrictor {
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.blog-post-grid .contents {
  position: absolute;
  bttom: 3.05rem;
  bottom: 0;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  line-height: 1.4;
  padding: 0 1rem 0.7rem 1rem;
  left: 0;
  right: 0;
  color: white;
}

.big-grid-container {
  grid-row: span 3;
  grid-column: span 3;
  width: 100%;
  height: 18rem;
  max-width: 615px;
  margin: 0 auto;
  margin-bottom: 2rem;
  ovrflow: hidden;
}

.big-grid-container .small-grid-contents {
  display: none;
}

.image-grow-constrictor {
  width: 100%;
  height: 18rem;
  max-wdth: 615px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.lower-portion-content {
  display: flex;
}

.author-info-container {
  line-height: 2;
}

.contents h4 {
  margin-bottom: 0.6rem;
  text-shadow: 0 0 7px black;
  font-size: 0.9rem;
}

.author-info-container .Written-by {
  font-family: var(--bebas-font);
  font-size: 0.6rem;
}

.post-category-display .categori {
  font-family: var(--bebas-font);
  font-size: 0.6rem;
}

.author-details-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.6rem;
}

.author-details-container .fa {
  color: var(--cyan);
}

.post-category-display .post-categories {
  display: flex;
  font-size: 0.5rem;
  gap: 0.4rem;
}

.post-category-display .post-categories p {
  border: 1px solid white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

.post-category-display {
  margin-left: auto;
  line-height: 2;
}

.small-grid-contents {
  text-align: left;
  margin-top: 0.6rem;
}

.small-grid-contents h4 {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.small-grid-contents p {
  font-size: 0.7rem;
  line-height: 1.5;
}

.small-post-author-and-date {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 0.3rem;
  font-size: 0.6rem;
  gap: 0.3rem;
}

.small-post-author-and-date .fa {
  color: green;
}

.read-more {
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.read-more:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

.section-5 {
  background-color: var(--dark-blue);
}

.ninety-percent {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 1.2;
}

.section-5 h2 {
  font-size: 1.3rem;
  text-align: center;
  color: var(--vibrant-yellow);
  font-family: var(--bebas-font);
  letter-spacing: 1px;
}

.section-5-container {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  justify-content: center;
}

.section-5-container .left-portion {
  width: 50%;
  /* max-width: 500px; */
  text-align: left;
  line-height: 1.5;
  brder: 2px solid red;
}

.section-5-container .right-portion {
  width: 50%;
  /* max-width: 500px; */
}

.section-5-container .right-portion img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-5-container h1 {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.section-5-container p,
.asection-5-container p {
  font-size: 0.8rem;
  text-align: justify;
}

.section-5-container .br {
  margin-bottom: 0.5rem;
}

.about-us-button-container .buttonn {
  font-size: 0.6rem;
  color: var(--vibrant-yellow);
  background-color: var(--dark-blue);
  border: 2px solid #fca311;
  font-weight: 700;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.about-us-button-container {
  margin-top: 1rem;
  max-width: max-content;
}

.about-us-button-container .buttonn:hover {
  background-color: var(--vibrant-yellow);
  color: var(--dark-blue);
}

.testimonial-container {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  margin-inline: auto;
  line-height: 2;
}

.testimonial-container h3 {
  font-size: 1rem;
  color: var(--vibrant-yellow);
}

.testimonial-container p {
  font-size: 0.7rem;
  font-style: italic;
}

.total-testimony-box {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
}

.testimony-post {
  display: flex;
  border: 1px solid #051437;
  border-radius: 5px;
  background-color: #0c1d44;
  max-width: 300px;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 0.8rem;
  gap: 0.5rem;
}

.testimony-post img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.testimony-post p,
.atestimony-post p {
  font-size: 0.7rem;
  text-align: left;
  font-style: normal;
  line-height: 1.4;
}

.testimony-post .writer {
  font-weight: 600;
  font-style: normal;
  margin-top: 0.5rem;
}

.stars {
  text-align: left;
  line-height: 0;
  margin-top: 0.4rem;
  color: var(--vibrant-yellow);
}

.stars .fa-star,
.stars .fa-star-half-o,
.stars .fa-star-o {
  font-size: 0.5rem;
}

.section-6 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  line-height: 1.2;
  padding-top: 2.5rem;
}

.section-6 iframe {
  width: 100%;
  /* max-width: 1000px; */
  margin-top: 1rem;
  height: 20rem;
}

.contact-portion-container {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  /* max-width: 1000px; */
  margin-inline: auto;
  gap: 2rem;
}

.contact-portion-container .left-portion {
  boder: 1px solid red;
  flex-basis: 50%;
}

.left-portion .contact {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.7rem;
}

.contact-portion-container .left-portion .fa-home,
.contact-portion-container .left-portion .fa-phone,
.contact-portion-container .left-portion .fa-envelope {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.contact-portion-container .left-portion p {
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
}

.contact-portion-container .right-portion {
  boder: 1px solid blue;
  flex-basis: 50%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.contact-portion-container .right-portion textarea,
.contact-portion-container .right-portion input {
  width: 100%;
  padding: 0.6rem;
  color: black;
  font-family: var(--poppins-font);
  font-size: 0.8rem;
  border-color: var(--dark-blue);
  border: 1px solid;
  border-radius: 2px;
  outline: none;
  resize: vertical;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.contact-portion-container .right-portion input:focus,
.contact-portion-container .right-portion textarea:focus {
  outline: 1px solid darkblue;
}

.contact-portion-container .right-portion input:hover,
.contact-portion-container .right-portion textarea:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.submit-button {
  cursor: pointer;
  border: 2px solid #0c162b;
  color: var(--dark-blue);
  border-radius: 3px;
  background-color: inherit;
  font-weight: 600;
  fnt-size: 1rem;
  white-space: nowrap;
  width: 40%;
  padding: 0.8rem;
  transition: background-color 0.3s ease, transssform 0.2s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--dark-blue);
  color: white;
  transssform: scale(1.03);
}
